{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}</h2>
<h3>{{ message }}</h3>

<form action="{{url_for('recipespage.addrecipe')}}" method="post" enctype="multipart/form-data">
    <label>Title</label><br />
    <input type="text" name="title" /><br />
    <label>Text</label><br />
    <textarea name="text" style="width:100%; height:200px"></textarea><br />
    <label>Image</label><br />
    <input type="file" name="image" /><br />
    <input type="submit" value="Submit" />
</form>

{% endblock %}
