﻿{% extends "layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<form action="{{url_for('userpage.edituser')}}" method="post" enctype="multipart/form-data">
    <label>User Name</label><br />
    <input type="text" name="username" /><br />
    <label>Password</label><br />
    <input type="password" name="password" /><br />
    <label>Confirm Password</label><br />
    <input type="password" name="confirmpassword" /><br />
    <input type="hidden" value="{{userid}}" />
    <br />
    <input type="submit" value="Submit" />
</form>

{% endblock %}
