{% extends "layout.html" %}

{% block content %}

<h1>Top 10 Users</h1>
<table class="table">
    <tr>
        <th>User Name</th>
        <th>Edit</th>
        <th>Delete</th>        
    </tr>
    {% for u in users %}
    <tr>
        <td>{{u.username}}</td>
        <td><a href="{{url_for('userpage.edituser', userid=u.id)}}">Edit</a></td>
        <td><a href="{{url_for('userpage.deleteuser', userid=u.id)}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>

<h1>Top 10 Recipes</h1>
<table class="table">
    <tr>
        <th>Title</th>
        <th>Text</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for r in recipes %}
    <tr>
        <td>{{r.title}}</td>
        <td>{{r.text}}</td>
        <td><a href="{{url_for('recipespage.editrecipeform', recipeid=r.id) }}">Edit</a></td>
        <td><a href="{{url_for('recipespage.deleterecipe', recipeid=r.id) }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>



{% endblock %}
