﻿{% extends "layout.html" %}

{% block content %}
<h1>{{title}}</h1>
<table class="table">
    <tr>
        <th>User Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for u in users %}
    <tr>
        <td>{{u.username}}</td>        
        <td><a href="{{url_for('userpage.edituser', userid=u.id)}}">Edit</a></td>
        <td><a href="{{url_for('userpage.deleteuser', userid=u.id)}}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}